known_hosts
ssh_askpass.cmd

Thumbs.db
.DS_Store
.idea/
.vscode/
.phpunit.result.cache

_import/
*.tar
*.tar.gz
*.zip

.env
.env.*
!.env.example
*.local.php
*.local.json

*.log
*.tmp
*.sqlite
*.sqlite3

local-wp/
wordpress/
wp/
